.modal-text {
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
}

.modal-picker {
    margin-bottom: 10px;
    width: 100%;
}

.modal-input {
    margin-bottom: 10px;
    width: 100%;
}

.modal-select {
    margin-bottom: 10px;
    width: 100%;
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    margin-right: 2px;
}
